/* ==========================================================================
   Home
   ========================================================================== */

.c-home {
    margin-bottom: 10rem; // 100px
    margin-top: -5rem;
}

.c-home__profile-image {
    margin: 0 auto 2rem auto;
    max-width: 30rem;
    text-align: center;
    @include fs--body;

    .c-home__profile-image-holder {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-image:  url("/assets/images/bowie.png");
        background-image: url("/assets/images/normal-afro.png");
        @include fade
    }
    .c-home__profile-image-holder:hover {
        background-image: url("/assets/images/bowie.png");
    }
}

.c-home__profile-about {
    text-align: justify;

    p {
        @include fs--body;
        color: #515862;
    }
}

.c-home__profile-projects {
    p {
        @include fs--body;
        color: #515862;
    }
}
