/* ==========================================================================
   Projects
   ========================================================================== */

.c-projects {
    margin-bottom: 10rem;
}

.c-projects__project {
    padding-bottom: 2.5rem;

    h2 {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #EFF1F3;
    }

    p {
        margin-bottom: 1rem;
    }
}

.c-projects__about {
    margin-top: -3em;
    margin-bottom: 2em;
    font-style: italic;
}
