---
layout: page
---
<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <div class="c-article__main" data-swiftype-index="true">
        {{ content }}
    </div>
    <footer class="c-article__footer">
        <p>
        {% for tag in page.tags %}
            <span class="c-tag">{{ tag }}</span>
        {% endfor %}
        </p>
        <script src="https://giscus.app/client.js"
            data-repo="jinpark/blog"
            data-repo-id="MDEwOlJlcG9zaXRvcnk1Njg0NDYyNw=="
            data-category="Announcements"
            data-category-id="DIC_kwDOA2NhU84Cf2CV"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
            </script>
    </footer>
</article>
